export(CreateLinePicking)
export(FindProblem)
export(FormatProblem)
export(GetNumCDF)
export(GetNumInvCDF)
export(GetNumMoment)
export(LinePickingAllProblems)
export(LinePickingCDF)
export(LinePickingCheckParameters)
export(LinePickingInverseCDF)
export(LinePickingMean)
export(LinePickingMedian)
export(LinePickingNumberOfProblems)
export(LinePickingPDF)
export(LinePickingProblemLookup)
export(LinePickingSimDistances)
export(LinePickingSimPoints)
export(LinePickingSupport)
export(LinePickingVar)
exportClasses(linepicking)
exportMethods(CalcCDF)
exportMethods(CalcPDF)
exportMethods(plot)
exportMethods(problem)
exportMethods(show)
useDynLib(LinePicking)
