export(CreateLinePicking)
export(LinePickingAllmodes)
export(LinePickingCDF)
export(LinePickingCheckParameters)
export(LinePickingMean)
export(LinePickingModeLookup)
export(LinePickingPDF)
export(LinePickingSupport)
export(LinePickingVar)
exportClasses(linepicking)
exportMethods(mode)
exportMethods(plot)
exportMethods(show)
exportMethods(support)
useDynLib(LinePicking)
