export(CreateLinePicking)
export(LinePickingAllModes)
export(LinePickingCDF)
export(LinePickingCheckParameters)
export(LinePickingMean)
export(LinePickingModeLookup)
export(LinePickingPDF)
export(LinePickingSupport)
export(LinePickingVar)
exportClasses(linepicking)
exportMethods(CalcCDF)
exportMethods(CalcPDF)
exportMethods(para)
exportMethods(plot)
exportMethods(show)
exportMethods(space)
exportMethods(stats)
exportMethods(support)
useDynLib(LinePicking)
